@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/animated.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/bordered-pulled.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/core.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/fixed-width.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/font-awesome.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/icons.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/larger.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/list.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/mixins.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/path.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/rotated-flipped.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/screen-reader.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/stacked.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/variables.less";
// Compiled stylesheet

*
{
    margin: 0;
    padding: 0;
}

body
{    
    background: @lightgrey;
    color: @black;    
}
.overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: @lightgrey;
    opacity: 0.8;
    display: none;
}


.wrapper
{
    .innerwidth;
    box-sizing: border-box;    
    margin: 0 auto;
    padding: @ds;    
}

.row
{
    clear: both;   
    
}

.btn
{      
    border: 0;
    padding: 10px @ds;    
    text-decoration: none;
    font-size:1.1em;
    color: white;
    font-weight: 400;
    border-radius: @ds/2;
    background-color: @orange;

    .fa
    {
        margin-left: @ds/2;
    }
    &:hover,
    &:active
    {
        background: @mediumblue; 
    }      
}
.col_left
{
    width: 58.33333333%;
    float: left;
    
    @media (max-width: @tablet-portrait)
    {
        width: 100%;
    }
    
}

.col_right 
{
    width: 40%;
    float: right;
    
    @media (max-width: @tablet-portrait)
    {
        width: 100%;
        margin-top: @ds*2;
    }
}
.item31
{
    float: left;
    display: inline-block;
    width: 33.3%;
    box-sizing: border-box;
    padding: @ds;        
    color: @darkestgrey;
    
    @media (max-width: @smartphone-landscape)
    {
        width: 100%;
    }
    
    *
    {
        max-width: 100%;
    }
}
#header
{
    margin-top: @ds*2;
    position: relative;
    
    .nav-icon
    {
        display: none;                      
    }
    
    @media (max-width: @tablet-portrait)
    {
        background: @mediumblue;
        padding: @ds/2 @ds;
        margin-bottom: @ds;
        
        .nav-icon
        {
            display: block;
            border-radius: 3px;
            float: left;  
            cursor: pointer;
            padding: 6px 10px;
            border: 1px solid @black;
            
            .fa
            {
                color: white;
                font-size: 30px;
            }
        }
    }
    
    .call_us
    {
        float: right;
        margin-bottom: @ds;
        
        i
        {
            margin-right: 10px;
        }
        
        a
        {
            color: @orange;
            font-size: 1.54em;
            font-weight: 700;
            text-decoration: none;
            
            &:hover
                {
                text-decoration: underline;
            }
        }
    }
    
    .logo
    {
        float: left;
        padding: 8px @ds;
        width: 300px;
        box-sizing: border-box;
        
         @media (max-width: @tablet-portrait)
        {
            margin: @ds*2 0;
            padding: 0;
        }
        
        img
        {
            max-width: 300px;
        }
    }
    
    nav
    {
        ul
        {
            li
            {
                float: left;
                list-style-type: none;
                font-size: 1.1em;
                font-weight: 600;
                
                a
                {
                    display: block;
                    padding: @ds;
                    position: relative;
                    color: white;
                    text-decoration: none;
                    
                    &:hover
                        {
                        background: @darkblue;
                    }
                }
                .active
                {
                    background: white;
                    color: mediumblue;
                }
                &:first-of-type
                {
                    a
                    {
                        border-top-left-radius: 10px;
                    }
                }
            }
            
        }
    }
    
    nav.desktop
    {
        float: right;
        background: @mediumblue;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 66.66666667%;
     
        @media (max-width: @tablet-portrait)
        {
            display: none;
        } 
    }
    
    nav.mobile
    {
        display: none;
        position: absolute;
        top: 59px;
        margin-left: -@ds;
        width: 100%;        
        background: @mediumblue;
        
        ul
        {
            li
            {
                clear: both;
                width: 100%;
                text-align: center;
                
                &:first-of-type
                {
                    a
                    {
                        border-top-left-radius: 0;
                    }
                }
            }
        }
    }
}

#content
{
    float: left;
    background: white;
    border: 1px solid @darkgrey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: @ds;
    
    .hero
    {
        border-bottom: 1px solid @lightgrey;
        float: left;
        margin-bottom: @ds;
        .banner
        {
            margin-top: @ds;
            border-radius: 10px;        
            width: 100%;
        }
        
        .affiliate-icons
        {
            width: 100%;
            float: left;
            border-radius: 10px;
            background: @lightgrey;
            margin: @ds 0;
            
            .item31
            {                
                text-align: center;                
            }
        }
    }
    .fa-check,
    .fa-question-circle
    {
        span
        {
            margin-left: @ds/2;
        }
    }
    
    .product-box
    {
        border: 1px solid @darkgrey;
        padding: 3px;
        border-radius: 4px;
        float: left;
        color: @lightblue;
        text-decoration: none;
        
        &:hover
            {
            color: @darkblue;
            text-decoration: underline;
        }
        
        img
        {
            width: 100%;
            float: left;
        }
        
        span
        {
            margin: 6px 0;
            float: left;
        }
    }
    
    #cta
    {
        position: relative;
        z-index: 2;
        opacity: 1;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: @lightblue;       
        box-shadow: 0 5px 20px rgba(0,0,0,.5);
        
        .cta-header
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;            
            background: @mediumblue;
            padding: 25px 80px 20px 25px;
            font-size: 1.32em;
            font-weight: 400;
            color: white;
            
            h2
            {
                font-size: 1.32em;
                font-weight: 400;
                color: white;
            }
            strong
            {
                font-weight: 600;
                color: @orange;
            }
            
            .sticker
            {
                position: absolute;
                top: 30px;
                right: -5px;
                background: #f1f1f1;
                border-radius: 3px;
                box-shadow: 0 2px 2px rgba(0,0,0,.4);
                min-height: 65px;
                padding: 5px;
                width: 80px;
                color: @mediumblue;
                text-align: center;               
                font-size: 80%;
                
                strong
                {
                    font-size: 1.87em;
                    color: @mediumblue;
                    font-weight: 700;
                    display: block;
                    line-height: 25px;
                    vertical-align: bottom;
                    text-shadow: 1px 1px 1px #f1f1f1;
                }
            }
        }
        #offerte_form
        {            
            padding: 25px;           
            
            fieldset
            {
                border: none;
            }
            
            .item
            {
               color: white;
               padding-bottom: @ds;               
                
                h3
                {
                    color: white;
                }
                
                .send
                {
                    margin-top: @ds;
                }
                
                .radio
                {
                    display: block;
                    position: relative;
                    margin: 10px 0;
                }
                
                .text
                {
                    display: block;
                }
                
                .text-balloon
                {
                    font-size: .77em;
                    font-weight: 400;
                    color: @black;
                    background: @lightgrey;
                    padding: 5px;
                    border-radius: 3px;
                    margin: 0 10px 15px;
                    
                    h3
                    {
                        color: @black;
                    }
                    
                    img
                    {
                        margin: 0 10px 0 0;
                        float: left;
                        width: 61px;
                    }
                }
            } 
            
            .form-control
            {
                bottom: 0;
                width: 100%;
                padding-top: 10px;
                border-top: 1px dashed #3b67a8;

                a
                {
                    font-size: .77em;
                    font-weight: 400;
                    color: white;
                    float: left;
                    margin-top: @ds;
                }
                
                .prev
                {
                    float: left;
                    margin-left: @ds*3;
                    margin-right: @ds;
                    margin-top: @ds;
                }
                
                .next
                {
                    float: right;
                }

            }
        }
        
        .cta-footer
        {
            background: @mediumblue;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            position: relative;
            padding: @ds;
            
            .img-responsive
            {
                width: 157px;
            }
            
            .ssl-safe
            {
                position: absolute;
                display: none;
                width: 290px;
                top: -80px;               
                z-index: 2;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
                border: 1px solid @lightgrey;             
                border-radius: 5px;
                padding: @ds/2 @ds/2 @ds @ds/2;
                background: rgb(255, 255, 255);
                
                .arrow
                {
                     width: 20px;
                    height: 20px;
                    position: absolute;
                    bottom: -10px;
                    left: 35px;
                    border-bottom: 1px solid @lightgrey;
                    border-right: 1px solid @lightgrey;
                    transform: rotate(45deg);
                    background: white;
                    z-index: 1;
                }
            }
            
            .keurmerken
            {
                max-width: 50%;   
                display: inline-block;
            }
            
            .ssl-keur
            {
               display: inline-block;
               margin-left: @ds;
                
                .ssl
                {
                    float: left;
                    margin: 0 3px 0 0;
                }
            }
        }
    }  
    
    .related-pages
    {
        background: @lightgrey;
        padding: @ds;
        margin: @ds 0;
        line-height: 16px;
        border-radius: 10px;
        border: 1px solid @darkgrey;
        
        ul
        {
            li
            {
                clear: both;
                list-style-type: none;               
                margin-top: @ds/2;
                
                a
                {
                    text-decoration: none;
                    color: @black;
                    font-size: 1.1em;
                    
                    &:hover
                    {
                        text-decoration: underline;
                    }
                    .fa
                    {
                        margin-right: @ds/2;
                    }
                }
            }
        }
    }
}

.popup
{
    width: 60%;
    height: 60%;
    margin: 0 auto;
    background: @lightgrey;
    margin-top: @ds*4;
    display: none;
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    position: absolute;
    
    z-index: 3;
    
    .header
    {
        border-bottom: 1px solid @darkgrey;
        background: url('../../../stage.snelleofferte.nl/assets/img/telefoniste.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        background-position: bottom right;
        padding:  @ds*3 @ds*4;
        
        h3
        {
            color: @orange;
        }
    }
    
    .content
    {
        padding: @ds*3 @ds*4;;
        color: @black;
        
        input,
        textarea
        {
            padding: @ds/2;
            margin-bottom: @ds;
            width: 100%;
        }
        
        textarea
        {
            min-height: 100px;
        }
    }
}