body,
li,
span,
input,
textarea
{
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}

h1,
h2,
h3
{
    color: @mediumblue;
    margin-bottom: @ds;
}

h1
{
    font-size: 36px;
    line-height: 38px;   
}

h2
{
    font-size: 30px;
    line-height: 32px;   
}

p
{
    margin: @ds/2 0;
}