/*colours*/
@lightgrey: #f1f1f1;
@darkgrey: #ddd;
@darkestgrey: #777;
@black: #333;
@darkblue: #213D66;
@mediumblue: #3b67a8;
@lightblue: #609ad5;
@orange: #fbb01d;

/* screens */
@smartphone: 480px;
@smartphone-landscape: 640px;
@tablet-portrait: 768px;
@tablet-landscape: 1024px;
@small-desktop: 1200px;
/* widths */
@ds: 15px;
.innerwidth
{   
    width: 1000px;    
    
    @media (max-width: @tablet-landscape )
    {
        width: 970px;
    }
    
    @media (max-width: @tablet-portrait )
    {
        width: 90%;
    }
}

.display
{
    display: block !important;
}

img
{
    max-width: 100%;
}