/*
 * jQuery FlexSlider v2.6.4
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/*
 * jQuery FlexSlider v2.6.4
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {  
  position: relative;
  zoom: 1;  
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  display: none
}

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/animated.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/bordered-pulled.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/core.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/fixed-width.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/font-awesome.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/icons.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/larger.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/list.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/mixins.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/path.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/rotated-flipped.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/screen-reader.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/stacked.less";
@import (once) "stage.snelleofferte.nl/assets/less/font-awesome/variables.less";
// Compiled stylesheet

*
{
    margin: 0;
    padding: 0;
}

body
{    
    background: @lightgrey;
    color: @black;    
}
.overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: @lightgrey;
    opacity: 0.8;
    display: none;
}


.wrapper
{
    .innerwidth;
    box-sizing: border-box;    
    margin: 0 auto;
    padding: @ds;    
}

.row
{
    clear: both;   
    
}

.btn
{      
    border: 0;
    padding: 10px @ds;    
    text-decoration: none;
    font-size:1.1em;
    color: white;
    font-weight: 400;
    border-radius: @ds/2;
    background-color: @orange;

    .fa
    {
        margin-left: @ds/2;
    }
    &:hover,
    &:active
    {
        background: @mediumblue; 
    }      
}
.col_left
{
    width: 58.33333333%;
    float: left;
    
    @media (max-width: @tablet-portrait)
    {
        width: 100%;
    }
    
}

.col_right 
{
    width: 40%;
    float: right;
    
    @media (max-width: @tablet-portrait)
    {
        width: 100%;
        margin-top: @ds*2;
    }
}
.item31
{
    float: left;
    display: inline-block;
    width: 33.3%;
    box-sizing: border-box;
    padding: @ds;        
    color: @darkestgrey;
    
    @media (max-width: @smartphone-landscape)
    {
        width: 100%;
    }
    
    *
    {
        max-width: 100%;
    }
}
#header
{
    margin-top: @ds*2;
    position: relative;
    
    .nav-icon
    {
        display: none;                      
    }
    
    @media (max-width: @tablet-portrait)
    {
        background: @mediumblue;
        padding: @ds/2 @ds;
        margin-bottom: @ds;
        
        .nav-icon
        {
            display: block;
            border-radius: 3px;
            float: left;  
            cursor: pointer;
            padding: 6px 10px;
            border: 1px solid @black;
            
            .fa
            {
                color: white;
                font-size: 30px;
            }
        }
    }
    
    .call_us
    {
        float: right;
        margin-bottom: @ds;
        
        i
        {
            margin-right: 10px;
        }
        
        a
        {
            color: @orange;
            font-size: 1.54em;
            font-weight: 700;
            text-decoration: none;
            
            &:hover
                {
                text-decoration: underline;
            }
        }
    }
    
    .logo
    {
        float: left;
        padding: 8px @ds;
        width: 300px;
        box-sizing: border-box;
        
         @media (max-width: @tablet-portrait)
        {
            margin: @ds*2 0;
            padding: 0;
        }
        
        img
        {
            max-width: 300px;
        }
    }
    
    nav
    {
        ul
        {
            li
            {
                float: left;
                list-style-type: none;
                font-size: 1.1em;
                font-weight: 600;
                
                a
                {
                    display: block;
                    padding: @ds;
                    position: relative;
                    color: white;
                    text-decoration: none;
                    
                    &:hover
                        {
                        background: @darkblue;
                    }
                }
                .active
                {
                    background: white;
                    color: mediumblue;
                }
                &:first-of-type
                {
                    a
                    {
                        border-top-left-radius: 10px;
                    }
                }
            }
            
        }
    }
    
    nav.desktop
    {
        float: right;
        background: @mediumblue;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 66.66666667%;
     
        @media (max-width: @tablet-portrait)
        {
            display: none;
        } 
    }
    
    nav.mobile
    {
        display: none;
        position: absolute;
        top: 59px;
        margin-left: -@ds;
        width: 100%;        
        background: @mediumblue;
        
        ul
        {
            li
            {
                clear: both;
                width: 100%;
                text-align: center;
                
                &:first-of-type
                {
                    a
                    {
                        border-top-left-radius: 0;
                    }
                }
            }
        }
    }
}

#content
{
    float: left;
    background: white;
    border: 1px solid @darkgrey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: @ds;
    
    .hero
    {
        border-bottom: 1px solid @lightgrey;
        float: left;
        margin-bottom: @ds;
        .banner
        {
            margin-top: @ds;
            border-radius: 10px;        
            width: 100%;
        }
        
        .affiliate-icons
        {
            width: 100%;
            float: left;
            border-radius: 10px;
            background: @lightgrey;
            margin: @ds 0;
            
            .item31
            {                
                text-align: center;                
            }
        }
    }
    .fa-check,
    .fa-question-circle
    {
        span
        {
            margin-left: @ds/2;
        }
    }
    
    .product-box
    {
        border: 1px solid @darkgrey;
        padding: 3px;
        border-radius: 4px;
        float: left;
        color: @lightblue;
        text-decoration: none;
        
        &:hover
            {
            color: @darkblue;
            text-decoration: underline;
        }
        
        img
        {
            width: 100%;
            float: left;
        }
        
        span
        {
            margin: 6px 0;
            float: left;
        }
    }
    
    #cta
    {
        position: relative;
        z-index: 2;
        opacity: 1;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: @lightblue;       
        box-shadow: 0 5px 20px rgba(0,0,0,.5);
        
        .cta-header
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;            
            background: @mediumblue;
            padding: 25px 80px 20px 25px;
            font-size: 1.32em;
            font-weight: 400;
            color: white;
            
            h2
            {
                font-size: 1.32em;
                font-weight: 400;
                color: white;
            }
            strong
            {
                font-weight: 600;
                color: @orange;
            }
            
            .sticker
            {
                position: absolute;
                top: 30px;
                right: -5px;
                background: #f1f1f1;
                border-radius: 3px;
                box-shadow: 0 2px 2px rgba(0,0,0,.4);
                min-height: 65px;
                padding: 5px;
                width: 80px;
                color: @mediumblue;
                text-align: center;               
                font-size: 80%;
                
                strong
                {
                    font-size: 1.87em;
                    color: @mediumblue;
                    font-weight: 700;
                    display: block;
                    line-height: 25px;
                    vertical-align: bottom;
                    text-shadow: 1px 1px 1px #f1f1f1;
                }
            }
        }
        #offerte_form
        {            
            padding: 25px;           
            
            fieldset
            {
                border: none;
            }
            
            .item
            {
               color: white;
               padding-bottom: @ds;               
                
                h3
                {
                    color: white;
                }
                
                .send
                {
                    margin-top: @ds;
                }
                
                .radio
                {
                    display: block;
                    position: relative;
                    margin: 10px 0;
                }
                
                .text
                {
                    display: block;
                }
                
                .text-balloon
                {
                    font-size: .77em;
                    font-weight: 400;
                    color: @black;
                    background: @lightgrey;
                    padding: 5px;
                    border-radius: 3px;
                    margin: 0 10px 15px;
                    
                    h3
                    {
                        color: @black;
                    }
                    
                    img
                    {
                        margin: 0 10px 0 0;
                        float: left;
                        width: 61px;
                    }
                }
            } 
            
            .form-control
            {
                bottom: 0;
                width: 100%;
                padding-top: 10px;
                border-top: 1px dashed #3b67a8;

                a
                {
                    font-size: .77em;
                    font-weight: 400;
                    color: white;
                    float: left;
                    margin-top: @ds;
                }
                
                .prev
                {
                    float: left;
                    margin-left: @ds*3;
                    margin-right: @ds;
                    margin-top: @ds;
                }
                
                .next
                {
                    float: right;
                }

            }
        }
        
        .cta-footer
        {
            background: @mediumblue;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            position: relative;
            padding: @ds;
            
            .img-responsive
            {
                width: 157px;
            }
            
            .ssl-safe
            {
                position: absolute;
                display: none;
                width: 290px;
                top: -80px;               
                z-index: 2;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
                border: 1px solid @lightgrey;             
                border-radius: 5px;
                padding: @ds/2 @ds/2 @ds @ds/2;
                background: rgb(255, 255, 255);
                
                .arrow
                {
                     width: 20px;
                    height: 20px;
                    position: absolute;
                    bottom: -10px;
                    left: 35px;
                    border-bottom: 1px solid @lightgrey;
                    border-right: 1px solid @lightgrey;
                    transform: rotate(45deg);
                    background: white;
                    z-index: 1;
                }
            }
            
            .keurmerken
            {
                max-width: 50%;   
                display: inline-block;
            }
            
            .ssl-keur
            {
               display: inline-block;
               margin-left: @ds;
                
                .ssl
                {
                    float: left;
                    margin: 0 3px 0 0;
                }
            }
        }
    }  
    
    .related-pages
    {
        background: @lightgrey;
        padding: @ds;
        margin: @ds 0;
        line-height: 16px;
        border-radius: 10px;
        border: 1px solid @darkgrey;
        
        ul
        {
            li
            {
                clear: both;
                list-style-type: none;               
                margin-top: @ds/2;
                
                a
                {
                    text-decoration: none;
                    color: @black;
                    font-size: 1.1em;
                    
                    &:hover
                    {
                        text-decoration: underline;
                    }
                    .fa
                    {
                        margin-right: @ds/2;
                    }
                }
            }
        }
    }
}

.popup
{
    width: 60%;
    height: 60%;
    margin: 0 auto;
    background: @lightgrey;
    margin-top: @ds*4;
    display: none;
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    position: absolute;
    
    z-index: 3;
    
    .header
    {
        border-bottom: 1px solid @darkgrey;
        background: url('../../../stage.snelleofferte.nl/assets/img/telefoniste.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        background-position: bottom right;
        padding:  @ds*3 @ds*4;
        
        h3
        {
            color: @orange;
        }
    }
    
    .content
    {
        padding: @ds*3 @ds*4;;
        color: @black;
        
        input,
        textarea
        {
            padding: @ds/2;
            margin-bottom: @ds;
            width: 100%;
        }
        
        textarea
        {
            min-height: 100px;
        }
    }
}
body,
li,
span,
input,
textarea
{
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}

h1,
h2,
h3
{
    color: @mediumblue;
    margin-bottom: @ds;
}

h1
{
    font-size: 36px;
    line-height: 38px;   
}

h2
{
    font-size: 30px;
    line-height: 32px;   
}

p
{
    margin: @ds/2 0;
}
/*colours*/
@lightgrey: #f1f1f1;
@darkgrey: #ddd;
@darkestgrey: #777;
@black: #333;
@darkblue: #213D66;
@mediumblue: #3b67a8;
@lightblue: #609ad5;
@orange: #fbb01d;

/* screens */
@smartphone: 480px;
@smartphone-landscape: 640px;
@tablet-portrait: 768px;
@tablet-landscape: 1024px;
@small-desktop: 1200px;
/* widths */
@ds: 15px;
.innerwidth
{   
    width: 1000px;    
    
    @media (max-width: @tablet-landscape )
    {
        width: 970px;
    }
    
    @media (max-width: @tablet-portrait )
    {
        width: 90%;
    }
}

.display
{
    display: block !important;
}

img
{
    max-width: 100%;
}